@inherits LayoutComponentBase 

<div class="bg-info text-white p-2">
  <div class="d-flex align-items-center justify-content-between">
    <span class="navbar-brand ml-2">SPORTS STORE Administration</span>
    <a href="/account/logout" class="btn btn-sm btn-primary flex-grow-0">Log Out</a>
  </div>
</div>
<div class="container-fluid">
  <div class="row p-2">
    <div class="col-3">
      <div class="d-grid gap-1">
        <NavLink class="btn btn-outline-primary"
          href="/admin/products" 
          ActiveClass="btn-primary text-white"
          Match="NavLinkMatch.Prefix"
        >Products 
        </NavLink>
        <NavLink class="btn btn-outline-primary"
          href="/admin/orders" 
          ActiveClass="btn-primary text-white"
          Match="NavLinkMatch.Prefix"
        >Orders
        </NavLink>
      </div>
    </div>
    <div class="col">
      @Body
    </div>
  </div>
</div>